.G6 {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .g6-header h1 {
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .g6-header p {
    font-size: 22px;
    color: #7f8c8d;
    margin-bottom: 20px;
  }
  
  .g6-content {
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 22px;
    margin: 20px;
  }
  
  .g6-video {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .g6-video video {
    border: none;
    border-radius: 8px;
    
  }

  .g7-video video{
    border: none;
    border-radius: 8px;
    position: relative;
    left: 23.5%;
 }

  .g4-video video{
    position: relative;
    left: 23.5%;
 }
  
  .g6-content p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .g6-content ul {
    font-size: 22px;
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .g6-content ul li {
    margin-bottom: 10px;
  }
  
  .g6-content h2 {
    font-size: 32px;
    color: #2980b9;
    margin-bottom: 10px;
    
  }
  
  .g6-readmore {
    display: inline-block;
    position: relative;
    left: 43%;
    padding: 20px 30px;
    background-color: #2980b9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    font-size: 18px;
    transition: 0.3s;

  }
  
  .g6-readmore:hover {
    background-color: #3498db;
    transform: translateY(-5px);
  }
  
  .g6-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .footer-item {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .footer-item img:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
  }
  
  .footer-item p {
    text-align: center;
    font-size: 14px;
    color: #7f8c8d;
  }

  .ctxt2 {
    display: flex;
    justify-content: center;
  }
  .rec-image {
    position: relative;
    top: 55px;
    border-radius: 10px 10px 0 0;
    max-width: 80%;
    max-height: 66%;
    margin-bottom: 0px;
  }
  .liss{

    padding-left: 15px;
  } 
  .sub-sub{
    position: relative;
    top: 65px;
  }