.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004d40;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 117%;
  position: relative;
  right: 10%;
}

.navbar-left {
  display: flex;
  align-items: center;
  position: relative;
  left: 90%;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: 10%;
}
  
  .navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    
  }
  
  .search-bar {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
  }
  
  .search-bar:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 107%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    z-index: 10;
    overflow: hidden;
  }
  
  .suggestion-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }  
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .hamburger:hover .bar {
    background-color: #b2dfdb;
  }